@import "../../../ampstart-base/bass-override-vars";
@import "../page-vars";

.ampstart-sidebar {
  width: 80vw;
}

.ampstart-sidebar .ampstart-navbar-trigger  {
  padding-top: var(--space-1);
}

@media (--breakpoint-lg) {
  .ampstart-sidebar {
    width: 50vw;
  }
}

/* hide the .amp-sidebar without failing validation */
div[class*='sidebar-mask'] {
  opacity: 0;
}

.sidebar__nav {
  width: 100%;
}

.ampstart-sidebar-nav {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;

  transform: translate(-50%, -50%);
}

.ampstart-sidebar .ampstart-nav-item {
  display: block;

  width: 80%;
  max-width: 7.5em;

  margin: auto;

  font-size: 1.5rem; /* 24px */
  font-weight: var(--font-weight-black);

  line-height: 3.84;

  text-transform: uppercase;
}

.ampstart-nav-item a {
  display: flex;
  justify-content: space-between;
}

.ampstart-nav-item:last-child a {
  font-size: 1.125rem; /* 18px */

  letter-spacing: .12em;

  text-decoration: underline;
  text-transform: lowercase;
}

@media (--breakpoint-mt) {
  .ampstart-faq-item {
    font-size: 3.25rem; /* 52px */
  }

  .ampstart-faq-item:last-child {
    display: none;
  }
}